.container {
    display: grid;
    grid-template-columns: repeat(6, [col] 1fr);
    column-gap: 2px;
    row-gap: 2px;
}

/* .item {
    @apply border border-j-white rounded-big flex p-7 justify-center items-center text-center text-xs uppercase select-none;
}

.smallItem {
    @apply border border-j-white rounded-big flex px-2 py-4 justify-center items-center text-center text-xs uppercase select-none;
} */

.modal {
    position: fixed;
    top: 25%;
    left: 58%;
    width: 36%;
    background: white;
    padding: 2%;
    border-radius: "0.625rem";
}

@media screen and (max-width: 998px) {
    .modal {
        width: 90%;
        left: 5%;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}