.radioLabel {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
}



.radioControl {
  /* @apply block rounded-full; */
  width: 1.2em;
  height: 1.2em;
  /* border: 0.3em solid currentColor; */
  background-color: currentColor;
  transform: translateY(-0.1em);
}

.radioControlNew {
  /* @apply block rounded-full; */
  width: 1.2em;
  height: 1.2em;
  /* border: 0.05em solid grey; */
  background-color: currentColor;
  transform: translateY(-0.1em);
  margin-top: 2px;
}
