.modal {
    transition: opacity 0.25s ease;
  }
.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
}

.vl {
  border-left: 2px dotted #ffffff;
  height: 20px;
  margin-left:9px;
  margin-bottom:4px
}
.dot {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.spanv {
	margin-left: 5%
}

.dotCancel {
  height: 10px;
  width: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #000000;
  /* margin-top: 3%; */
  margin-top: 4px;
}

.vlCancel {
  border-left: 2px dotted #000000;
  height: 10px;
  margin-left:4px;
  /* margin-bottom:4px */
}

input[type=radio]:checked + label span {
  background-color: #EA725B;
  box-shadow: 0px 0px 0px 2px white inset;
}
