.highlighter {
    position: relative;
    /* background: rgb(209, 197, 197); */
    border: 1px solid #d1c5c5;
    overflow: hidden;
  }
  
  .highlighter::before {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 35px solid#aa432f;
    border-right: 35px solid transparent;
    left: 0;
    top: 0;
  }
  