.modal {
    position: absolute;
    /* top: 25%; */
    bottom: 0%;
    /* left: 35%; */
    width: 100%;
    height: 100%;
    background: white;
    padding: 2%;
    border-radius: "0.625rem";
    z-index: 1;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-right: 25%;
}

.modalcontent {
    position: absolute;
    left: 31%;
    width: 40%;
    background-color: #ffffff;
    bottom: 15%;
}

