
.myBookingTicket {
    display: flex;
    justify-content: space-between;
  }
  .myBookingTicketTop {
    width: 30%;
    padding: 0px;
  }
  .myBookingTicketBtm {
    width: 70%;
    padding: 0px;
    margin: 4rem 2rem;
    margin-bottom: 0;
  }
  
  @media screen and (max-width: 992px) {
    .myBookingTicket {
      display: flex;
      flex-direction: column;
      justify-content: unset;
    }
    .myBookingTicketTop {
      width: 100%;
      padding: 0px;
    }
    .myBookingTicketBtm {
      width: 100%;
      padding: 0px;
      margin: 2rem 0;
    }
  }