@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

#root {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.disable-scrollbars::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Chrome/Safari/Webkit */
  display: none;
}

.filter-modal {
  width: 32%;
  left: 60% !important;
  z-index: 999999;
  margin-top: 0%;
  margin-bottom: 0%;
}

@media screen and (max-width: 992px) {
  .filter-modal {
    width: 90%;
    left: 5% !important;
    z-index: 999999;
  }
}


